{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current" // or '7.10.0'
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", false, "class-props"],
    ["@babel/proposal-object-rest-spread", false, "transform-rest-spread"],
    ["@babel/plugin-proposal-optional-chaining", false, "optional-training"]
  ]
}
