{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/proposal-object-rest-spread", false, "transform-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "dist": "./dist",
          "c": "./client",
          "s": "./server"
        }
      }
    ]
  ]
}
