{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-sass"] }],
    ["@babel/proposal-object-rest-spread", false, "transform-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "prisma": "./server/prisma",
          "models": "./server/models",
          "config": "./server/config"
        }
      }
    ]
  ]
}
